<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>
<hr/>
<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf</h1>

        <!-- End of section visible for authorized users -->
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page (No Login Required)</a></h2>
        <h2>4. Visit <a th:href="@{/super_admin}">Super Admin page (Spring Security protected, Need Super Admin Role)</a></h2>
    </div>

</div>
<!-- /.container -->
<hr/>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>